<!DOCTYPE html>
<html>
  <head>
    <title>Renouncely</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheets"  href="app/assets/stylesheets/home.css" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
     <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet" type="text/css">

  </head>

  <body>
  
    <%= yield %>
  </body>
</html>
